<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Montserrat:ital,wght@1,100&family=RocknRoll+One&family=UnifrakturCook:wght@700&display=swap"
        rel="stylesheet">

</head>

<body>
<h1 id="welcome">Welcome in my restaurant!</h1>
<div class="col-md-auto" *ngIf="loggedUser">
  <ul>
    <li><a routerLink="/stockroom">Stockroom</a></li>
    <li><a routerLink="/recipes">Recipes</a></li>
    <li><a routerLink="/menu">Menu</a></li>
    <li><a routerLink="/finances">Finances</a></li>
    <li><a routerLink="/staff">Staff</a></li>
    <li><a id="logout" class="button" (click)="logout()">Logout</a></li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <form (ngSubmit)="onLoginFormSubmit()" *ngIf="!loggedUser" class="box">
        <h1>Login</h1>
        <input type="text" name="username" placeholder="username" [(ngModel)]="username">
        <input type="text" name="password" placeholder="password" [(ngModel)]="password">
        <input type="submit" name="login" value="Login">
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
</body>
</html>



