<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Montserrat:ital,wght@1,100&family=RocknRoll+One&family=UnifrakturCook:wght@700&display=swap"
        rel="stylesheet">
</head>
<body>
<form class="stock-form">
  <ul>
    <li>
      <input type="text" class="form-control" name="name" placeholder="item name"
             [(ngModel)]="newProduct.name"
             [class.is-invalid]="submitted && validationErrors.name"
             [class.is-valid]="submitted && !validationErrors.name">
      <div class="invalid-feedback" *ngFor="let error of validationErrors.name">
        {{error}}
      </div>
      <input type="number" class="form-control" name="weight" placeholder="weight"
             [(ngModel)]="newProduct.weight"
             [class.is-invalid]="submitted && validationErrors.weight"
             [class.is-valid]="submitted && !validationErrors.weight">
      <div class="invalid-feedback" *ngFor="let error of validationErrors.weight">
        {{error}}
      </div>
      <input type="number" class="form-control" name="cost" placeholder="cost"
             [(ngModel)]="newProduct.cost"
             [class.is-invalid]="submitted && validationErrors.cost"
             [class.is-valid]="submitted && !validationErrors.cost">
      <div class="invalid-feedback" *ngFor="let error of validationErrors.cost">
        {{error}}
      </div>
    </li>
    <li>
      <input type="button" value="Find" (click)="loadOneProduct(newProduct.name)">
      <input type="button" value="Change value" (click)="updateProduct(newProduct.name)">
      <input type="button" value="Create new item" (click)="createProduct()">
      <input type="button" value="Get all items" (click)="loadProducts()">
    </li>
    <li>
      <table class="table">
        <thead>
        <tr>
<!--          <th>Id</th>-->
          <th>Name</th>
          <th>Stock</th>
          <th>Cost/kg</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
<!--          <td>{{product.id}}</td>-->
          <td>{{product.name}}</td>
          <td>{{product.weight}}</td>
          <td>{{product.cost}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary" (click)="delete(product.id)">X</button>
          </td>
        </tr>
        </tbody>
      </table>
    </li>
  </ul>
</form>
</body>
</html>

